.body{
    background-image: url(./topography.png);
    
}

.card-title-1{
    font-size: 50px;
    color: slategray;

}

.card-text{
    font-size: large;
}

.card-text-2{
    font-size: large;
}

.row-1{
    size: 300px;
   
}

.portfolio-head{
    font-size: 60px;
    color: slategray;
    
}

.col-1{ 
    margin: 50px;
}

.col-sm-10{
    position: absolute;
}

.form-control{
    margin: 1rem;

}

.contactHead{
    color: slategray;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 60px;
}

